.footer {
  width: 100%;
  text-align: center;
  color: #aaa;
  font-size: 0.875rem;
  background-color: transparent;
  margin-top: -2rem;
  padding-bottom: 3rem;
}

@media (max-width: 480px) {
  .footer {
    position: relative;
    font-size: 0.75rem;
    padding-bottom: 2rem;
    bottom: 3.5rem;
  }
}